/* Fonts ****************************************************************************/

@font-face {
  font-family: "Gluten-bold";
  src: url(/fonts/Gluten-Bold.woff2);
  font: weight 700px;
}

@font-face {
  font-family: "Gluten";
  src: url(/fonts/Gluten-Medium.woff2);
  font: weight 500px;
}
@font-face {
  font-family: "RobotoReg";
  src: url(/fonts/Roboto-Regular.woff2);
  font: weight 400px;
}

/* Global Selectors**************************************************************** */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-size: 62.5%;
}
/* Tag Selectors**************************************************************** */
body {
  --text-color: white;
  --shadow-color: palevioletred;
  --contrast-color: rgb(33, 7, 125);
  --bg-color: hsl(188, 84%, 49%);
  --bg-color-dark: hsl(188, 84%, 45%);

  font-family: "RobotoReg";
  font-size: 1.5rem;
  background-image: linear-gradient(var(--text-color), var(--bg-color));
  min-height: 100vh;
  position: relative;
}

h1 {
  font-family: "Gluten-bold";
  font-size: 5rem;
  color: var(--text-color);
  text-shadow: 3px 2px 1px var(--shadow-color),
    5px 4px 0px var(--contrast-color);
  padding-top: 5%;
  text-align: center;
}

h2 {
  font-family: "Gluten";
  color: var(--contrast-color);
  padding-block: 1rem 1.5rem;
  text-align: center;
}
/* Class-Selectors **************************************************************** */

.adding-to-do {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.box-styling {
  background-color: var(--text-color);
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px var(--shadow-color);
  padding-block: 0.9em;
}
.button-style {
  padding: 0.7em 0.9em 0.5em 0.9em;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(var(--bg-color-dark) 70%, var(--bg-color));
  box-shadow: 0px 3px 1px var(--shadow-color), 0px 5px 0px var(--contrast-color);
}
.checkbox {
  margin-right: 0.5rem;
  accent-color: var(--shadow-color);
}
.checked {
  text-decoration: line-through;
}
.empty-style {
  padding: 1rem 1rem;
  height: 2rem;
}
.font {
  font-family: "Gluten";
  font-size: 1.7rem;
  color: var(--text-color);
  text-shadow: 1px 1px 0px var(--contrast-color);
  text-transform: uppercase;
}
.header {
  max-width: 100vw;
  min-height: 15vh;
  padding-block: 5% 3%;
  box-shadow: 0px 3px 1px var(--shadow-color), 0px 5px 0px var(--contrast-color);
  background: linear-gradient(var(--bg-color-dark), var(--bg-color));
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10% 7% 10% 7%;
  max-width: 100vw;
}
.list-item {
  padding: 0.5rem 0rem 0.5rem 0rem;
  background-color: var(--text-color);
  display: flex;
  align-items: end;
}

.radio-button {
  accent-color: var(--shadow-color);
}

.radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.5rem;
  width: 100%;
}
.radio-container-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.4rem;
}

.star {
  color: var(--shadow-color);
}
.subheading {
  font-size: 1.8rem;
  text-align: start;
  margin-left: 2.5rem;
  margin-top: 0.8rem;
}
.todo-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.to-do-list {
  list-style: none;
  padding-inline-start: 2.5rem;
  min-height: 6rem;
  padding-block: 1rem 0.1rem;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ID-Selectors **************************************************************** */

#button-remove {
  padding-inline: 3rem;
  align-self: center;
  margin-block: 5% 10%;
}
#write-to-do {
  padding-inline: 1rem;
  padding-left: 2.5rem;
  width: 70%;
}
/* Media Queries **************************************************************** */
@media (min-width: 768px) {
  .adding-to-do {
    justify-content: center;
    gap: 2rem;
  }
  body {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 8rem;
  }
  .main {
    padding-inline: 10%;
    padding-top: 7%;
    gap: 5rem;
  }
  .to-do-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    padding-left: 3rem;
  }

  h1 {
    font-size: 8rem;
  }

  .font,
  .subheading {
    font-size: 2rem;
  }

  #write-to-do {
    width: 30rem;
  }
}
@media (min-width: 992px) {
  .header {
    padding-block: 3%;
  }
  .main {
    gap: 5rem;
  }
  .section-1 {
    flex-basis: 3;
    flex-grow: 3;
  }
  .subheading {
    padding-bottom: 2rem;
  }
  .radio-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 3rem;
  }
  .radio-container-item {
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  .todo-container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
  }
  #button-remove {
    margin-top: 3rem;
  }
}
